.container {
  position: relative;
}

.jobTitle {
  margin: 0 20%;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  top: 80px;
  text-align: center;
  align-self: center;
  width: 60%;
}

.jobTitle p {
  font-size: 1.3rem;
  font-weight: 600;
}

.details {
  margin: 100px 20%;
  padding: 20px;
  box-sizing: border-box;
  width: 60%;
}

.subDetails {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 1rem;
}

.subDetails p {
  font-size: 0.8rem;
  color: #999999;
}

.jobRoleDiv {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.jobRole p {
  color: #ed5353;
  font-size: 1rem;
  margin-top: 10px;
}

.editBtn {
  background-color: #ed5353;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 10px 20px;
  cursor: pointer;
}

.disabledEditBtn {
  background-color: #76ABAE;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 10px 20px;
}

.deleteBtn {
  background-color: #E72929;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}

.disabledDeleteBtn {
  background-color: #76ABAE;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 10px 20px;
  margin-left: 10px;
}

.jobInfo {
  display: flex;
  gap: 30px;
  margin: 2rem 0;
}

.infoText {
  font-size: 0.8rem;
  color: #999999;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.infoImg {
  width: 20px;
  height: 20px;
}

.salary,
.calender {
  font-size: 1rem;
}

.companyLogo {
  height: 40px;
  width: 40px;
  border-radius: 25px;
  object-fit: cover;
}
