p {
  font-size: 0.7rem;
}

.pBig {
  font-size: 1rem;
  margin: 5px 10px;
}

.main {
  display: inline-flex;
  background-color: #ffeeee;
  align-items: center;
  margin: 5px 0;
  margin-right: 5px;
}

.label {
  margin: 0 10px;
}

.cross {
  background-color: #ff6b6b;
  color: #fff;
  padding: 8px;
  cursor: pointer;
}

